@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bogart";
  src: local("BOGARTMEDIUMTRIAL"),
    url("../src/fonts/BOGARTMEDIUMTRIAL.TTF") format("truetype");
}

* {
  font-family: Bogart;
}